
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
        table.diff {font-family:Courier; border:medium;}
        .diff_header {background-color:#e0e0e0}
        td.diff_header {text-align:right}
        .diff_next {background-color:#c0c0c0}
        .diff_add {background-color:#aaffaa}
        .diff_chg {background-color:#ffff77}
        .diff_sub {background-color:#ffaaaa}
    </style>
</head>

<body>
    
    <table class="diff" id="difflib_chg_to63__top"
           cellspacing="0" cellpadding="0" rules="groups" >
        <colgroup></colgroup> <colgroup></colgroup> <colgroup></colgroup>
        <colgroup></colgroup> <colgroup></colgroup> <colgroup></colgroup>
        <thead><tr><th class="diff_next"><br /></th><th colspan="2" class="diff_header">Code Reduced Buggy client-redesign/src/App.vue</th><th class="diff_next"><br /></th><th colspan="2" class="diff_header">Code Reduced Fixed client-redesign/src/App.vue</th></tr></thead>
        <tbody>
            <tr><td class="diff_next"><a href="#difflib_chg_to63__0">f</a></td><td class="diff_header" id="from63_1">1</td><td nowrap="nowrap">&lt;template&gt;</td><td class="diff_next"><a href="#difflib_chg_to63__0">f</a></td><td class="diff_header" id="to63_1">1</td><td nowrap="nowrap">&lt;template&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_2">2</td><td nowrap="nowrap">&nbsp;&nbsp;&lt;v-app&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_2">2</td><td nowrap="nowrap">&nbsp;&nbsp;&lt;v-app&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_3">3</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-app-bar</td><td class="diff_next"></td><td class="diff_header" id="to63_3">3</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-app-bar</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_4">4</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;app</td><td class="diff_next"></td><td class="diff_header" id="to63_4">4</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;app</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_5">5</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;clipped-left</td><td class="diff_next"></td><td class="diff_header" id="to63_5">5</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;clipped-left</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_6">6</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_6">6</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_7">7</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;img&nbsp;style="padding-right:15px"&nbsp;contain&nbsp;src="./assets/icon40.png"&nbsp;/&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_7">7</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;img&nbsp;style="padding-right:15px"&nbsp;contain&nbsp;src="./assets/icon40.png"&nbsp;/&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_8">8</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-toolbar-title&gt;Toonin&lt;/v-toolbar-title&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_8">8</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-toolbar-title&gt;Toonin&lt;/v-toolbar-title&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_9">9</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-spacer&gt;&lt;/v-spacer&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_9">9</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-spacer&gt;&lt;/v-spacer&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_10">10</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-switch&nbsp;style="padding:15px;&nbsp;padding-top:&nbsp;40px"&nbsp;:label="`Dark&nbsp;Mode`"&nbsp;v-model="$vuetify.theme.dark"&gt;&lt;/v-switch&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_10">10</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-switch&nbsp;style="padding:15px;&nbsp;padding-top:&nbsp;40px"&nbsp;:label="`Dark&nbsp;Mode`"&nbsp;v-model="$vuetify.theme.dark"&gt;&lt;/v-switch&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_11">11</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/v-app-bar&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_11">11</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/v-app-bar&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_12">12</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-content&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_12">12</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-content&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_13">13</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;router-view&gt;&lt;/router-view&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_13">13</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;router-view&gt;&lt;/router-view&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_14">14</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&lt;/v-content&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_14">14</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&lt;/v-content&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_15">15</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-footer&nbsp;app&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_15">15</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-footer&nbsp;app&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_16">16</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td class="diff_next"></td><td class="diff_header" id="to63_16">16</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_17">17</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-spacer&gt;&lt;/v-spacer&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_17">17</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;v-spacer&gt;&lt;/v-spacer&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_18">18</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&gt;&amp;copy;&nbsp;Toonin&nbsp;2019&lt;/span&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_18">18</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&gt;&amp;copy;&nbsp;Toonin&nbsp;2019&lt;/span&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_19">19</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&lt;/v-footer&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_19">19</td><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&lt;/v-footer&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_20">20</td><td nowrap="nowrap">&nbsp;&nbsp;&lt;/v-app&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_20">20</td><td nowrap="nowrap">&nbsp;&nbsp;&lt;/v-app&gt;</td></tr>
            <tr><td class="diff_next" id="difflib_chg_to63__0"></td><td class="diff_header" id="from63_21">21</td><td nowrap="nowrap">&lt;/template&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_21">21</td><td nowrap="nowrap">&lt;/template&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_22">22</td><td nowrap="nowrap"></td><td class="diff_next"></td><td class="diff_header" id="to63_22">22</td><td nowrap="nowrap"></td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_23">23</td><td nowrap="nowrap">&lt;script&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_23">23</td><td nowrap="nowrap">&lt;script&gt;</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_24">24</td><td nowrap="nowrap"></td><td class="diff_next"></td><td class="diff_header" id="to63_24">24</td><td nowrap="nowrap"></td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_25">25</td><td nowrap="nowrap">export&nbsp;default&nbsp;{</td><td class="diff_next"></td><td class="diff_header" id="to63_25">25</td><td nowrap="nowrap">export&nbsp;default&nbsp;{</td></tr>
            <tr><td class="diff_next"><a href="#difflib_chg_to63__top">t</a></td><td class="diff_header" id="from63_26">26</td><td nowrap="nowrap">&nbsp;&nbsp;e<span class="diff_sub">l</span>:&nbsp;"App",</td><td class="diff_next"><a href="#difflib_chg_to63__top">t</a></td><td class="diff_header" id="to63_26">26</td><td nowrap="nowrap">&nbsp;&nbsp;<span class="diff_add">nam</span>e:&nbsp;"App",</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_27">27</td><td nowrap="nowrap">&nbsp;&nbsp;data()&nbsp;{<span class="diff_sub">}</span></td><td class="diff_next"></td><td class="diff_header" id="to63_27">27</td><td nowrap="nowrap">&nbsp;&nbsp;data()&nbsp;{</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header"></td><td nowrap="nowrap"></td><td class="diff_next"></td><td class="diff_header" id="to63_28">28</td><td nowrap="nowrap"><span class="diff_add">&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;{}</span></td></tr>
            <tr><td class="diff_next"></td><td class="diff_header"></td><td nowrap="nowrap"></td><td class="diff_next"></td><td class="diff_header" id="to63_29">29</td><td nowrap="nowrap"><span class="diff_add">&nbsp;&nbsp;}</span></td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_28">28</td><td nowrap="nowrap">};</td><td class="diff_next"></td><td class="diff_header" id="to63_30">30</td><td nowrap="nowrap">};</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from63_29">29</td><td nowrap="nowrap">&lt;/script&gt;</td><td class="diff_next"></td><td class="diff_header" id="to63_31">31</td><td nowrap="nowrap">&lt;/script&gt;</td></tr>
        </tbody>
    </table>
    <table class="diff" summary="Legends">
        <tr> <th colspan="2"> Legends </th> </tr>
        <tr> <td> <table border="" summary="Colors">
                      <tr><th> Colors </th> </tr>
                      <tr><td class="diff_add">&nbsp;Added&nbsp;</td></tr>
                      <tr><td class="diff_chg">Changed</td> </tr>
                      <tr><td class="diff_sub">Deleted</td> </tr>
                  </table></td>
             <td> <table border="" summary="Links">
                      <tr><th colspan="2"> Links </th> </tr>
                      <tr><td>(f)irst change</td> </tr>
                      <tr><td>(n)ext change</td> </tr>
                      <tr><td>(t)op</td> </tr>
                  </table></td> </tr>
    </table>
</body>

</html>